a{border-radius: 5px;
    font-weight: 900;
    font-size: 14px;
    padding: 0.5em 1em;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.25s;
    margin-right: 5px;
    color: #9c4fcc;
    text-decoration: none;
    }

nav{float: none;}